.icon-4 {
  @apply min-w-[16px] max-w-[16px] min-h-[16px] max-h-[16px];
}

.selected {
  color: #2bebc8;
  border-radius: 0.25rem;
}

/* .focused {
  outline: none;
  background: #211f21;
} */

/* .drop-target {
  background: #211f21;
} */

[data-exploration-depth="0"] {
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;
  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="1"] {
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;
  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="2"] {
  margin-left: 0.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="3"] {
  margin-left: 1rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="4"] {
  margin-left: 1.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="5"] {
  margin-left: 2rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="6"] {
  margin-left: 2.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="7"] {
  margin-left: 3rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="8"] {
  margin-left: 3.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="9"] {
  margin-left: 4rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="10"] {
  margin-left: 4.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="11"] {
  margin-left: 5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="12"] {
  padding-left: 5.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;
  borderstyle: solid;
  bordercolor: transparent;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="13"] {
  margin-left: 6rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="14"] {
  margin-left: 6.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="15"] {
  margin-left: 7rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="16"] {
  margin-left: 7.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="17"] {
  margin-left: 8rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="18"] {
  margin-left: 8.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="19"] {
  margin-left: 9rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}

[data-exploration-depth="20"] {
  margin-left: 9.5rem;
  display: flex;
  gap: 0.3333em;
  align-items: center;
  width: 100%;

  > *:last-child {
    overflow: hidden;
    textoverflow: ellipsis;
    whitespace: nowrap;
  }
}
