@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no_scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spinner {
  animation: spin 0.7s linear infinite;
}

.counter-border {
  --border-radius: 6px;
  --border-size: 2px;
  --padding: 1.25rem;
  --color: #e92a67;
  --color2: #211f21;
  --color3: #18151b;
  --color4: rgba(42, 138, 246, 0);
  --border-bg: conic-gradient(
    from 180deg at 50% 50%,
    var(--color) 0deg,
    var(--color2) 112.5deg,
    var(--color3) 228.75deg,
    var(--color4) 360deg
  );
  position: relative;
  overflow: hidden;
  /* font-size: 2rem; */
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  /* display: inline-block; */
  z-index: 0;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
}

.counter-border:hover {
  cursor: pointer;
}

.counter-border i {
  content: "";
  position: absolute;
  top: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  left: var(--border-size);
  padding: var(--border-size);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  border-radius: calc(var(--border-radius) + var(--border-size));
}

.counter-border i::before {
  content: "";
  display: block;
  background: var(--border-bg);
  box-shadow: 0px 0px 40px 20px --var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  animation: counterspin 5s linear infinite;
}

@media (prefers-reduced-motion) {
  .counter-border i::before {
    animation: none;
  }
}

@keyframes counterspin {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.thin_scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 6px;
}

/* Track */
.thin_scrollbar::-webkit-scrollbar-track {
  background: #131519;
}

/* Handle */
.thin_scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
}

/* Handle on hover */
.thin_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
