.panel_scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 6px;
}

/* Track */
.panel_scrollbar::-webkit-scrollbar-track {
  background: #131519;
}

/* Handle */
.panel_scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
}

/* Handle on hover */
.panel_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
